.aboutContent {
    a {
        color: rgb(77, 151, 164) !important;
    }
    p,li,a {
        font-family: Raleway-Medium;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #828282;
        margin: 20px 55px 20px 55px;
    }
    .shiftRight {
        display: flex;
        width: 100vw;
        justify-content: flex-end;
        h3{
            font-family: Raleway-Medium;
            font-style: normal;
            font-weight: 500;
            font-size: 11.4vw;
            color: #828282;
            margin-left: 59px;
            max-width: calc(41vw - 43px);
        }
    }
    h4 {
        display: none;
    }
    .imgContainer{
        width: min-content;
        position: relative;
        margin-bottom: 56px;
        div {
            background: #A0C510;
            border-radius: 4px;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            bottom: -29px; //add 3
            left: -43px;
        }
        img {
            width: calc(59vw);
            right: 0;
            z-index: 1;
        }
    }
    h1{
        font-family: Raleway-Medium;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #828282;
        padding: 16px 0 16px 20px;
        svg {
            margin-right: 21px;
        }
    }
    .aboutTeam{
        margin: 0 55px 0 55px
    }
    .grid {
        display: grid;
        grid-template-columns: 30vw calc(70vw - 135px);
        margin-left: 25px;
        p,li,a {
            margin: 0 5px 16px 0;
        }
        ul{
            margin-top: 0;
        }
    }
    h5 {
        font-family: Raleway-Medium;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: right;
        color: #FFFFFF;
        background-color: #A0C510;
        width: min-content;
        white-space: nowrap;
        padding: 14px 36px 14px 36px;
        border-radius: 4px;
        svg {
            margin: 0 0 -2px 17px;
        }
    }
    .bottomContainer {
        width: 100vw;
        justify-content: center;
        display: flex;
        margin: 0;
    }
}

@media(max-width: 800px) {
    .aboutContent{
        p,li,a {
            font-size: 18px;
            line-height: 21px;
            margin: 0 27px 20px 27px;
        }
        .aboutText {
            margin-top: 20px;
        }
        .shiftRight {
            display: flex;
            width: 100vw;
            justify-content: flex-end;
            h3 {
                display: none;
            }
        }
        h4 {
            display: inline;
            font-family: Raleway-Medium;
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 56px;
            color: #828282;
            margin-left: 27px;
        }
        .imgContainer{
            width: min-content;
            position: relative;
            margin-bottom: 56px;
            div {
                background: #A0C510;
                border-radius: 4px;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: -1;
                bottom: -13px; //add 3
                left: -21px;
            }
            img {
                width: calc(100vw - 54px);
                right: 0;
                z-index: 1;
            }
        }
        h1{
            font-family: Raleway-Medium;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #828282;
            margin: 5px 27px 16px 0;
            padding: 16px 0 16px 20px;
            svg {
                margin-right: 21px;
            }
        }
        .aboutTeam{
            background-color: #F4F4F4;
            margin: 0 27px 25px 27px
        }
        .grid {
            display: grid;
            grid-template-columns: 30vw calc(70vw - 74px);
            margin: 0 27px 0 20px;
        }
        h5 {
            font-size: 18px;
            line-height: 21px;
        }
    }
}